.header {
  display: flex;
  justify-content: space-between;
  position: relative; /* Ensures the menu stays within the header */
}

.logo {
  width: 10rem;
  height: 3rem;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}

.header-menu li:hover {
  color: var(--orange);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-menu {
    position: absolute;
    top: 100%; 
    background-color: var(--appColor);
    flex-direction: column;
    padding: 2rem;
    width: 100px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .header > :nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }
}
